# Sao chép file này thành .env rồi điền IP máy chạy backend
#
# Cách lấy IP:
#   Windows: ipconfig → IPv4 Address
#   Mac/Linux: ifconfig | grep "inet "
#
# Điện thoại và máy tính phải cùng mạng WiFi!

EXPO_PUBLIC_API_URL=http://192.168.x.x:8000
